html{
    height: -webkit-fill-available;
}
body{
    background-color: hsl(187, 75%, 63%);
    margin: 0;
    padding: 0;
    height: -webkit-fill-available;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-weight: 500;
    color: white;
    font-size: 50px;
    margin-bottom: 1px;
}
p{
    font-weight: 300;
    color: white;
    width: 75%;
}
span{
    font-weight: 300;
    font-size: 30px;
    color: hsl(208, 38%, 43%);
}

.container{
    max-width: 69.375rem;
    margin: 0 auto;

    &--pall{
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    &--py{
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
    }

    &--px{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    &--pt{
        padding-top: 4.375rem;
    }

    &--pr{
        padding-right: 1.5rem;
    }

    &--pb{
        padding-bottom: 4.375rem;
    }

    &--pl{
        padding-left: 1.5rem;
    }
}