.hero{
    background-color: hsl(187, 75%, 63%);
    .container{
        display: flex;
        align-items: center;
    }
    &__image{
        position: relative;
        width: 600px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        order: 2;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}