.hero{
    
    .container{
        display: flex;
        align-items: center;
    }
    &__image{
        position: relative;
        width: 600px;
        height: 300px;
        border-radius: 900px;
        overflow: hidden;
        order: 2;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    button, .button{
        display: inline-block;
        padding: 0.875rem 2.1875rem;
        background-color: white;
        border: 0;
        border-radius: 50px;
        cursor: pointer;
        color: hsl(208, 38%, 43%);
        font-size: 400;
        text-decoration: none;
        margin-right: 1.5em;
    }

}